name: Test
on: [ push ]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests in docker
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: docker build -t test_polygraph .
      - name: Run
        run: docker run --privileged --cgroupns=host -t test_polygraph